<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="error_state.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="error_state.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="error_state.My.MySettings.packageConnectionString"
            connectionString="Data Source=192.168.4.171;Initial Catalog=package;Persist Security Info=True;User ID=packageuser;Password=packageuser"
            providerName="System.Data.SqlClient" />
        <add name="error_state.My.MySettings.packageConnectionString1"
            connectionString="Data Source=portal.yuema.com.tw;Initial Catalog=package;Persist Security Info=True;User ID=packageuser;Password=packageuser"
            providerName="System.Data.SqlClient" />
        <add name="error_state.My.MySettings.ebiConnectionString" connectionString="Dsn=on_tcp25_ebi"
            providerName="System.Data.Odbc" />
        <add name="error_state.My.MySettings.pud_dbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=pud_db;User ID=sa;Password=passin8*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <userSettings>
        <error_state.My.MySettings>
            <setting name="machine_id" serializeAs="String">
                <value>PK003</value>
            </setting>
            <setting name="PLC_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PLC_ip" serializeAs="String">
                <value>192.168.1.99</value>
            </setting>
        </error_state.My.MySettings>
        
    </userSettings>
</configuration>